{% load static %}
<html>
    <head>
        <title>The SOcial Network</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">The SOcial Network</a></h1>
            
        </div>
    {% if user.is_authenticated %}
        <h2><a href="/users/post/new">New Post</a></h2>
        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>By:- {{ post.author }}</p>
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    {% else %}
         <p>Please login or signup to see this page.</p>
         <a href="{% url 'login' %}">login</a>  |
         <a href="{% url 'signup' %}">signup</a>
    {% endif %}



    </body>
</html>