{% load static %}
{% load i18n %}
<html>
    <head>
        <title>The SOcial Network</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">The SOcial Network</a></h1>
            
        </div>
    {% if user.is_authenticated %}
        <h2><a href="/users/post/list">New Post</a></h2>
        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                {{image.imgfile.url}}
                {% if post.imgfile %}
                    <img src="{{ post.imgfile.url }}" alt="{{ post.imgfile.url }}">
                {% endif %}
                <p>By:- {{ post.author }}</p>
                <p>published: {{ post.published_date }}</p>
                <form method="POST" class="post-form" action="/users/post/list">{% csrf_token %}
                    {{ form }}
                    <button type="submit" class="save btn btn-default">Comment</button>
                    <input style="display: none" type="text" name="title_id" value="{{post.id}}" />
                    <input style="display: none" type="text" name="comment_auth_id" value="{{post.author.id}}" />
                    <p><b>Comments: </b></p>
                    {% for comment in post.comment_set.all %}

                        
                        <p><b>{{ comment.comment_auth }}: </b>{{ comment.ctext }}</p>
                    {% endfor %}
                   
                </form>
            </div>
        {% endfor %}
    {% else %}
         <p>Please login or signup to see this page.</p>
         <a href="{% url 'login' %}">login</a>  |`
         <a href="{% url 'signup' %}">signup</a>
    {% endif %}



    </body>
</html>